@model List<CarShow>

<div class="container_main">
<div class="container">
    <div class="d-flex justify-content-end">
        @* CAN'T DO A FORM HERE BECAUSE THe PAGE IS ALREADY USING ANOTHER MODEL
        <form class="form-inline" asp-controller="LoginReg" asp-action="Login" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Email">
            <input class="form-control mr-sm-2" type="search" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Login</button>
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Register Here</button>
        </form> *@
        <a class="btn btn-outline-dark my-2 my-sm-0" asp-controller="LoginReg" asp-action="LoginRegister">Login</a>
        <a class="btn btn-outline-dark my-2 my-sm-0" asp-controller="LoginReg" asp-action="LoginRegister">Register</a>

    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item-main active">
                    <a class="nav-link" href="#">
                    Virtual Car Show &nbsp;&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Enter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Prizes</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>  
            </ul>   
        </div>
    </nav>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Virtual Car Show HQ</h1>
                <p class="lead"></p>
                <p class="lead"><span style="font-style: italic">Hosting online car shows across the nation</span></p>     
            </div>
        </div>
        <section id="schedule">
            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                        <h3>Upcoming Car Shows</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                                <th scope="col">Event Name</th>
                                <th scope="col">Hosted By</th>
                                <th scope="col">Location</th>
                                <th scope="col">Cars</th>
                                <th scope="col">More</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (CarShow carshow in Model)
                                    {
                                        <tr>
                                            <td>@carshow.StartDateAndTime.ToString("MMM dd, yyyy @ hh:mm tt")</td>
                                            <td>@carshow.EndDateAndTime.ToString("MMM dd, yyyy @ hh:mm tt")</td>
                                            <td>@carshow.Title</td>
                                            <td>@carshow.ClubName</td>
                                            <td>@carshow.City, @carshow.State</td>
                                            <td>@carshow.RegisteredCars.Count</td>
                                            <td>
                                                <a asp-controller="CarShow" asp-action="Car_Show" asp-route-carShowId="@carshow.CarShowId">Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                <a asp-controller="RegisterCar" asp-action="UserProfile">Register Car</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                    </table>
                </div>
                <a class="btn btn-info mb-2" asp-controller="CarShow" asp-action="New_Car_Show">Add a Car Show</a>
            </div>
        </section>
        <section id="video">
            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                        <h3>Check out our livestreams!</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ox1XLgafKsE" allowfullscreen></iframe>
                        </div>
                    </div> 
                </div>    
            </div>
        </section>
    </body>
</div>
</div>